.jumbotron {
    background: url("../images/home_img2.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 5em inherit;
    height: 500px;
}

/* body {
    padding: 50px;
    
} */

.container .btn {
    position: absolute;
    top: 65%;
    left: 50%;
    
}
.btn-warning {
    color: #fff;
    background-color: #d9534f;
    border-color: #ffc107;
}

.categories{
    position: absolute;
    top: 85%;
    left: 42%;
    padding-top: 50px;
    
}

h1 {
    padding-left: 10px;
}
.btn-group-toggle{
    position: relative;
    right: 25%;
    display: -webkit-inline-box;
}

#submit {
    position: absolute;
    right: 72%;
}

#photo {
    width: 400px;
    height: 300px;
    filter: opacity(90%);
    filter: contrast(10%);
    filter: drop-shadow(5px 5px 5px grey);
  }



/* Media Queries*/

@media screen and (max-width: 980px) {
    body {
        overflow-x: hidden;
        width: 980px;
    }
 
    .btn-group-toggle{
        position: relative;
        right: 27%;
    }
    
    .subbtn{
        position: absolute;
        right: 75%;
    }
    .container .btn {
        position: absolute;
        top: 65%;
        left: 55%;
 }
    .categories{
        padding-top: 5px;
        padding-left: 10px;
    }
 }
 
 @media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    .container .btn {
        position: absolute;
        top: 65%;
        left: 55%;
    }
    .categories{
        padding-top: 5px;
 
    }
    .checkbox {
        padding-left: 0px;
    }
    .btn {
        margin: 5px;
    }
 }
 
 @media screen and (max-width: 640px) {
     body {
         overflow-x: hidden;
         width: 640px;
     }
    
    .container .btn {
        position: absolute;
        top: 65%;
        left: 42%;
    }
    
    .categories {
        position: absolute;
        top: 90%;
        left: 25%;
    }
    .checkbox {
        padding-left: 0px;
    }
    
    .btn-group-toggle {
        display: inline-flex;

    }
    #submit {
        position: absolute;
        right: 70%;
    }
    
    
 }