.jumbotron {
    background: url("../images/home_img2.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 5em inherit;
    height: 500px;
}
body {
    padding: 50px;
    
}

.container .btn {
    position: absolute;
    top: 65%;
    left: 50%;
    
}
.btn-warning {
    color: #fff;
    background-color: #d9534f;
    border-color: #ffc107;
}

.categories{
    position: absolute;
    top: 85%;
    left: 42%;
    padding-top: 50px;
    
}

h1 {
    padding-left: 10px;
}
.btn-group-toggle{
    position: relative;
    right: 25%;
    display: -webkit-inline-box;
}

#submit {
    position: absolute;
    top: 80%;
    right: 50%;
}

.cuisines:hover {
    background-color: darkgray;
}

/* Media Queries*/

@media screen and (max-width: 980px) {
    body {
        overflow-x: hidden;
        width: 980px;
    }
 
    .btn-group-toggle{
        position: relative;
        right: 27%;
    }
    
    .subbtn{
        position: absolute;
        right: 75%;
    }
    .container .btn {
        position: absolute;
        top: 65%;
        left: 55%;
 }
    .categories{
        padding-top: 5px;
        padding-left: 10px;
    }
 }
 
 @media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
    .container .btn {
        position: absolute;
        top: 65%;
        left: 42%;
    }
    .sidebar {
        display: none;
    }
    h1 {
        width: 100%;
    }
    .categories{
        width: 80%;
        position: absolute;
        left: 30%;
        padding-top: 5px;
 
    }
    .checkbox {
        padding-left: 0px;
    }
    .btn {
        margin: 5px;
    }
 }
 
 /* @media only screen and (max-width: 640px) {
     body {
         overflow-x: hidden;
         width: 640px;
     }
    
    .container .btn {
        position: absolute;
        top: 65%;
        left: 42%;
    }
    
    .categories {
        position: absolute;
        top: 90%;
        left: 20%;
    }
    .checkbox {
        padding-left: 0px;
    }
    
    .btn-group-toggle {
        display: inline-flex;

    }
    #submit {
        position: absolute;
        right: 30%;
    }
    
    
 } */
 @media screen and (max-width: 640px) and (min-width: 400px) {
   body {
        width: 100%;
    }
   
   .container .btn {
       position: absolute;
       top: 65%;
       left: 42%;
   }
   h1 {
       position: relative;
       right: 23%;
   }
   
   .categories {
        width: 100%;      
   }
   .checkbox {
       padding-left: 0px;
   }
   
   .btn-group-toggle {
       display: flow-root;

   }
   #submit {
       position: absolute;
       right: 40%;
   }
   
   
}